* {
  font-family: Roboto;
  color: #2b3338;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  cursor: default;
}
